<div class="footer" style="width: 100%; bottom: 0; top: 0; clear:left; float: left;">
    <div class="footer">
        <div class="row mt-4" align="left">
            <div class="col-lg-2 ml-5" align="left">
                <br>
                <h6>ABOUT</h6>
                <a (click)="navtocontact()" class="link text-white">Contact Us</a><br>
                <a (click)="move()" class="link">About Us</a>
            </div>
            <div class="col-lg-2" align="left"><br>
                <h6>HELP</h6>
                <a (click)="Payment()" class="link">Payment & Shipping</a><br>
                <a (click)="security()" class="link">Security</a><br>
                <a class="link">Cancellation & Return</a><br>
            </div>
            <div class="col-lg-2" align="left"><br>
                <h6>POLICY</h6>
                <a (click)="return()" class="link">Return Policy</a><br>
                <a (click)="terms()" class="link">Terms Of Use</a><br>
                <a (click)="privacy()" class="link">Privacy</a><br>
            </div>
            <div class="col-lg-1" align="left"><br>
                <h6>SOCIAL</h6>
                <a href="#" class="link text-white">Facebook</a><br>
                <a href="#" class="link text-white">Twitter</a><br>
                <a href="#" class="link text-white">YouTube</a><br>
            </div>
            <div>
                <div class="vl"></div>
            </div>
            <div class="col-lg-2 ml-3" align="left"><br>
                <h6>Mail Us:</h6>
                <p>ShopNation Internet Private Limited, Buildings Alyssa, Begonia & Clove Embassy Tech Village, Outer Ring Road, Devarabeesanahalli Village, Bengaluru, 560103, Karnataka, India.</p>
            </div>
            <div class="col-lg-2" align="left"><br>
                <h6>Registered Office Address:</h6>
                <p>ShopNation Internet Private Limited, Buildings Alyssa, Begonia & Clove Embassy Tech Village, Outer Ring Road, Devarabeesanahalli Village, Bengaluru, 560103, Karnataka, India CIN : U51109KA2012PTC066107 Telephone: 1800 208 9898</p>
            </div>
        </div>
        <hr>
        <div class="row mb-4" style="margin-left: 110px; margin-right: 110px"><br>
            <div class="col-lg-3">
                <a href="#"><i class="fa fa-star mr-2" style="color: yellow"></i><span class="text-white">Advertise</span></a>
            </div>
            <div class="col-lg-3">
                <a href="#"><i class="fa fa-diamond mr-2" style="color: yellow"></i><span class="text-white">Gift Cards</span></a>
            </div>
            <div class="col-lg-3">
  <a href="#"><i class="fa fa-question-circle mr-2" style="color: yellow"></i><span class="text-white">FAQ</span></a>
            </div>
            <div class="col-lg-3">
                <a href="#"><i class="fa fa-copyright mr-2"></i><span class="text-white">2019 ShopNation.com.</span></a>
            </div>
        </div>
        <br>
    </div>
</div>
