.form-container {
    margin: auto;
    height: 80vh;
    width: 80vw;
 }
 
 .background-sign {
    background-image: linear-gradient(to bottom right, rgb(25, 25, 112,.7),rgba(27, 137, 129,.7)), url(grad_image.jpg)
 }
 
 .login-bg {
    height: 100%;
 }
 
 .btn-form {
    border-radius: 100px;
    padding: 35 50px;
    width: 175px;
 }
 
 .btn-form-white {
    color: white;
    border: 1px solid white;
 }
 
 .font-awsome>i {
    text-align: center;
    padding: 10px;
 }
 
 .animate-right {
    animation-name: Move-right;
    animation-duration: .6s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
 }
 
 .animate-left {
    animation-name: Move-left;
    animation-duration: .6s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
 }
 
 .animate-appear-right {
    animation-name: appear-right;
    animation-duration: 0.6s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
 }
 
 .animate-appear-left {
    animation-name: appear-left;
    animation-duration: 0.6s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
 }
 
 @keyframes Move-right {
    0% {
        left: 0px;
        position: absolute;
    }
    100% {
        left: 30%;
        opacity: 0;
    }
 }
 
 @keyframes Move-left {
    0% {
        right: 0px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%)
    }
    50% {
        right: 30%;
        opacity: .2;
    }
    100% {
        right: 40%;
        opacity: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%)
    }
 }
 
 @keyframes appear-right {
    0% {
        left: 40%;
        opacity: 0;
    }
    100% {
        left: 58.4%;
        opacity: 1;
    }
 }
 
 @keyframes appear-left {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
 }

 /* .container-fluid{
   position: relative;
   -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;
 }


 .cards{
    position: absolute;
   -webkit-transition: -webkit-transform 1s; 
   -moz-transition: -moz-transform 1s;
   -o-transition: -o-transform 1s;
   transition: transform 1s;
   -webkit-transform-style: preserve-3d;
   -moz-transform-style: preserve-3d;
   -o-transform-style: preserve-3d;
   transform-style: preserve-3d;
   -webkit-transform-origin: 50% 50%; */

 /* }

 .card div{
   -webkit-backface-visibility: hidden;
   -moz-backface-visibility: hidden;
   -o-backface-visibility: hidden;
   backface-visibility: hidden;
 }

.cards .front{
   
   -webkit-transform: rotateX(0deg) rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform-style: preserve-3d;
    -moz-backface-visibility: hidden;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

 .card .back{
   -webkit-transform: rotateY( 180deg );
   -moz-transform: rotateY( 180deg );
   -o-transform: rotateY( 180deg );
   transform: rotateY( 180deg );
 }


 .card.flipped {
   -webkit-transform: rotateY( 180deg );
   -moz-transform: rotateY( 180deg );
   -o-transform: rotateY( 180deg );
   transform: rotateY( 180deg );

 }
  */